<div>
  <div class="review-container">
    <h1>The Minimalist Entrepreneur</h1>
    <div class="rating-container">
      <div class="rating-cell">
        <span class="rating">3.8</span>&nbsp;&nbsp;
        <img src="/graphics/yellowstar.svg" width="25" height="25">
        <img src="/graphics/yellowstar.svg" width="25" height="25">
        <img src="/graphics/yellowstar.svg" width="25" height="25">
        <img src="/graphics/yellowstar.svg" width="25" height="25">
        <img src="/graphics/graystar.svg" width="25" height="25">
      </div>
      <div class="add-review-cell">
        <button id="addReview" class="add-review-button">Add review</button>
      </div>
      <hr color="#c3c3c3"/>
      <div class="rating-container">


      </div>
      <div class="form-container">
        <h1>What's your rating?</h1>
        <form id="reviewForm">
          Rating
          <br/><br/>
          <div id="starsContainer">
          </div>
          <br/><br/>
          Review
          <br/><br/>
          <input type="hidden" id="stars" name="stars" value="3">
          <input type="text" id="review" placeholder="Start typing...">
          <br/><br/>
          <button type="submit" id="submitReview">Submit review</button>
        </form>
      </div>
    </div>
  </div>
</div>
