div.review-container {
  width: 500px;
  overflow: visible;
}

div.rating-container {
  width: 100%;
}

div.rating-cell {
  width: 70%;
  display: inline-block;
}

div.add-review-cell {
  width: 29%;
  display: inline-block;
}

div.form-container {
  margin-bottom: 20px;
}
